doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content='travel agent site')
  meta(name='author' content='Ndubuisi Okpala')
  title Ndchris Travel Agent Website
  link(rel='stylesheet' type='text/css' href='../project-css/style-c.css')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300&display=swap' rel='stylesheet')
header
  // have the logo, welcome note and nav bar wrapped in one container
  label.logo  
  h1.welcome  WELCOME TO TRAVEL EXPERT
  nav
    ul.nav1
      
      li
        a(href='../contact') Contact
      li
        a(href='../register') Register
      li
        a(href='../index') Home
      li
        a(href='../packages') Packages
      
main
  // used paragraph and list tag to display the contact information of the travel agents
  p
  h1 CONTACT
  p
  p
  h1 Reservation
  p
  ul Toll Free : 5878794373
  ul Phone Number : 5878007070
  ul Email : info@ndchristravels.ca
  p
  h1 Address
  div
    br
    | Ndchris Travel and Tours 
    br
    | Suit # 102 1104 Country Hills Street 
    br
    | Calgary
    |         Alberta 
    br
    | Canada
  p
  p
  h1 Hours of Operation
  div
    br
    | Mondays to Friday 9:00am to 5:00pm MDT 
    br
    | Saturdays by appointment
  p
  .info
    .md
      | Name : Carol Richard 
      br
      |  MD ndchristravels 
      br
      |  &#x2709; Email: carolrichard@ndchristravels.com 
      br
      |  &#x2121;
      |         Phone Number: 768-889-6675
    .vp
      | Name : Charles Cole 
      br
      |  Vice President ndchristravels 
      br
      |  &#x2709; Email: charlescole@ndchristravels.com 
      br
      |         &#x2121; Phone Number: 777-228-1234
    .manager
      | Name : Francis Kester 
      br
      |  Marketing Manager 
      br
      |  &#x2709; Email: franciskester@ndchristravels.com 
      br
      |  &#x2121;
      |         Phone Number: 687-890-0070
    .it-manager
      | Name : Christian Kevin 
      br
      |  Information Technology Manager 
      br
      |  &#x2709; Email:
      |         christiankevin@ndchristravels.com 
      br
      |  &#x2121;
      |         Phone Number: 687-890-0071
  

  // Information of the agencies from the travelexpert database
main.ouragency
  section.ourinfo 
    h2 Contact Our Agency: 
    br
    h3 Calgary Office
    h3 !{agencies[0].AgncyAddress}
    br
    h3 !{agencies[0].AgncyCity} !{agencies[0].AgncyProv}
    br
    h3 !{agencies[0].AgncyCountry} !{agencies[0].AgncyPostal}
    br
    h3 !{agencies[0].AgncyPhone}
  
  figure.map
    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2508.3845448110987!2d-114.09056018403193!3d51.045986952154756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53716fe76e972489%3A0x149461cedf5b7c5b!2s1155%208%20Ave%20SW%2C%20Calgary%2C%20AB!5e0!3m2!1sen!2sca!4v1584735635006!5m2!1sen!2sca' width='600' height='450' frameborder='0' style='border:0;' allowfullscreen='')

// Line Break
h1.break Agents Contact:

// Company Agencies and their details from database
div.agencies
  section.agents 
    h1 Agency 1
    table.box
      tr.head
        th= agencies[0].AgncyAddress+','
        th= agencies[0].AgncyCity
      br
      table
        for item in agentList1
          tr
            th= item.AgtFirstName
            th= item.AgtLastName
            th= item.AgtBusPhone
            th= item.AgtEmail

  section.agents 
    h1 Agency 2
    table.box
      tr.head
        th= agencies[1].AgncyAddress+ ','
        th= agencies[1].AgncyCity
      br
      table
        for item in agentList2
          tr
            th= item.AgtFirstName
            th= item.AgtLastName
            th= item.AgtBusPhone
            th= item.AgtEmail


  // create a fiorm for contact information
  h1 Contact Form
  .wrapper
    form(action='#' method='post')
      label(for='name') Full Name
      input#name(type='text' name='name' placeholder='Enter your full name')
      label(for='email') Email
      input#email(type='email' name='email' placeholder='Enter your email')
      label.full-width(for='message') Message
      textarea#message.full-width(name='message' placeholder='Enter your message')
      input.full-width(type='submit' name='submit' value='Send')
footer
  p.copyright &copy; 2020 Travel Expert
